(
    name: "Bangs",
    description: "Search quickly with Duckduckgo bangs",
    query: (
        regex: "^(!)+",
        help: "! ",
        isolate: true,
        no_sort: true,
    ),
    bin: (path: "bangs"),
    icon: Name("system-search")
)
